<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body class="body-new-game">
            <main class="container-m">
                <form action="/products/create" method="POST" class="container-form" enctype="multipart/form-data" id="form">
                    <h1>Añadir Juego <i class="fas fa-gamepad"></i></h1>
                    <div class="contenido-principal">
                        <div class="box-container">
                            <input placeholder="Título" name="titulo" type="text" required class="input-style" id="titulo" value="<%= locals.oldData ? oldData.titulo : null  %>">
                            <br>                           
                            <small class="text-danger" id="text-danger-titulo">
                            </small>  
                        </div>

                        <div class="box-container">
                            <input placeholder="Precio" name="price" type="text" required class="input-style" id="precio"  value="<%= locals.oldData ? oldData.price : null  %>">
                            <br>                           
                            <small class="text-danger" id="text-danger-precio">
                            </small>
                        </div>
                        <div class="box-container">
                            <input placeholder="Descuento" name="discount" type="text" class="input-style" id="descuento" value="<%= locals.oldData ? oldData.discount : null  %>">
                        </div>
                        <div class="box-container">
                            <input placeholder="Resumen" name="resumen" type="text" required class="input-style" id="resumen" value="<%= locals.oldData ? oldData.resumen : null  %>">
                            <br>                           
                            <small class="text-danger" id="text-danger-resumen">
                            </small>  
                        </div>
                        <div class="box-container">
                            <label class="tittle-m block">Dificultad</label>
                            <select name="Dificultad" class="input-style">
                                <% Dificultades.forEach(d=> { %>
                                    <option  value="<%=d.id%>" <%= locals.oldData && (d.id == oldData.Dificultad) ? 'selected' : null %> > 
                                        <%=d.nombre %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="box-container">
                            <label class="tittle-m block">Edades</label>
                            <select name="Edad" class="input-style">
                                <% Edades.forEach(d=> { %>
                                    <option  value="<%=d.id %>" <%= locals.oldData && (d.id == oldData.Edad) ? 'selected' : null %>> 
                                        <%=d.nombre%>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="box-container">
                            <label class="tittle-m block">Plataforma</label>
                            <select name="Plataforma" class="input-style" multiple>
                                <% Plataformas.forEach(d=> { %>
                                    <option  value="<%=d%>"> 
                                        <%=d %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>

                        <div class="box-container">
                            <label class="tittle-m block">Categorias</label>
                            <select name="Categoria" class="input-style" multiple>
                                <% Categorias.forEach(d=> { %>
                                    <option  value="<%=d %>"> 
                                        <%=d%>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>

                        <div class="box-container photo-game">
                            <label class="block tittle-m" for="photoGame" name="fotoUser">Imagen Vertical del VideoJuego</label>
                            <input class="block" type="file" name="photoGame">
                            <label class="block tittle-m" for="photoGameV" name="fotoUser">Imagen Horizontal del VideoJuego</label>
                            <input class="block" type="file" name="photoGameV">
                        </div>
                        <div class="box-container">
                            <input placeholder="Información legal del desarrollador" name="legal" type="text" placholder="Nombre del Juego" required id="legal" class="input-style" value="<%= locals.oldData ? oldData.legal : null  %>">
                            <br>                           
                            <small class="text-danger" id="text-danger-legal">
                            </small>  
                        </div>
                        <div class="box-container">
                            <textarea name="datos_Tecnicos" placeholder="Datos técnicos" class="text-area-style" cols="30" rows="10" required id="datosTecnicos" ><%= locals.oldData ? oldData.datos_Tecnicos : null  %></textarea>
                            <br>                           
                            <small class="text-danger" id="text-danger-tecnicos">
                            </small>  
                        </div>
                        <div class="box-container">
                            <textarea name="requisitos" placeholder="Requisitos del sistema" cols="30 " rows="10 " class="text-area-style " id="requisitos" required ><%= locals.oldData ? oldData.requisitos : null  %></textarea>
                            <br>                           
                            <small class="text-danger" id="text-danger-requisitos">
                            </small>  
                        </div>

                    </div>
                    <ul id="errorList">


                    </ul>
    
                    <br>

                    <div class="container-button ">
                        <div class="box-button ">
                            <button type="submit " class="send-button-m ">Añadir Juego</button>
                        </div>
                    </div>


                </form>

            </main>
            <%- include('./partials/footer') %>
        </body>
        <script src="/js/validationNewGame.js"></script>
</html>