<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <main class="main-mc">
                <p>
                    <img class="img-principal-mc" src=<%=product.image %> alt="Imagen del juego">
                    <!-- completar cuando elaboremos imagen dinamica en controlador zar7  -->
                </p>
                <section class="main-descripcion-mc">
                    <div class="descripcion-esrb-buy">
                        <div class="descripcion-producto-mc">
                            <h2>
                                <%= product.titulo %>
                            </h2>
                            <h6>
                                <%= product.developer %>
                            </h6>
                            <!--  va a venir por parametro de caracteristicas  -->
                            <p>
                                <%= product.plataforma %>
                            </p>
                            <!--  ejemplo de parametrized object  -->
                        </div>
                        <p class="precio-mc">
                            $<%= product.price %>
                            <div class="discount"><%= product.discount %></div>
                        </p>
                        <div class="esrb-buy">
                            <div class="buy-mc">
                                <button class="cart-mc">Agregar al carrito <i class="fas fa-cart-plus"></i></button>
                            </div>
                            <div class="esrb">
                                <img class="esrb-photo" src=<%=product.ratingIMG %> alt="imagen calificacion"><br>
                                <p class="esrb-detail">
                                    <%=product.esrb%>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="requisitos">
                    <div class="tecnicos">
                        <h4 class="h4-mc">Datos técnicos</h4>
                        <div class="datos-tecnicos">
                            <p>
                                <%= product.datos_Tecnicos %>
                            </p>
                        </div>
                    </div>
                    <div class="requisitos-pc">
                        <h4 class="h4-mc">Requisitos del sistema</h4>
                        <div class="requisitos-min">
                                <p>
                                    <%= product.requisitos %>
                                </p>
                                
                        </div>
                    </div>
                </section>
                </section>
                <div class="resumen-mc">
                    Características:<br>
                    <%= product.resumen %>
                </div>
                <section class="version">
                    <h4 class="h4-mc">Ediciones</h4>
                    <aiv>
                        <h4 class="h4-mc">Standard</h4>

                        </div>
                </section>
                <section class="complementos">
                    <h4 class="h4-mc">Complementos</h4>
                </section>
                <div class="informacion-legal-developer">
                    Copyright ©
                    <%= product.legal %>
                        <a href= '<%= product.legal %>'></a>
                </div>
                </section>
                <a href="/shopping-cart"><button id="cart"><i class="fas fa-shopping-cart"></i></button></a>
            </main>
            <%- include('./partials/footer') %>
        </body>

</html>