<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <div id="relleno"></div>
    <body class="body-productlist">
        <main class="main-productlist">
            <section class="product-filter">
                <form action="/products" method="POST" class="filter">
                    <div class="filtros">
                            <h3 class="h3-productlist">Dificultad</i></h1>
                            <label>
                            <input type="checkbox" name="dificult" class="category-option">Fácil
                            </label>
                            <label>
                                <input type="checkbox" name="dificult" class="category-option">Normal
                            </label>
                            <label>
                                <input type="checkbox" name="dificult" class="category-option">Difícil
                            </label>
                        </div>
                        <div class="filtros">
                            <h3 class="h3-productlist">Edades</i></h1>
                                <label>
                                    <input type="checkbox" name="ages"> Todos
                                </label><br>
                                <label>
                                    <input type="checkbox" name="ages"> Adolescentes
                                </label><br>
                                <label>
                                    <input type="checkbox" name="ages"> Adultos
                                </label>
                        </div>
                        <div class="filtros">
                            <h3 class="h3-productlist">Categorías</i></h1>
                             <label id=category-option>
                                <input type="checkbox" name="category-option" class="category-option">Shooter
                            </label><br>
            
                            <label id=category-option>
                                <input type="checkbox" name="category-option" class="category-option">Sports
                            </label><br>
            
                            <label id=category-option>
                                <input type="checkbox" name="category-option" class="category-option">Acción
                            </label><br>
            
                            <label id=category-option>
                                <input type="checkbox" name="category-option" class="category-option">Terror
                            </label><br>
            
                            <label id=category-option>
                                <input type="checkbox" name="category-option" class="category-option">Estrategia
                            </label><br>

                            <label id=category-option>
                                <input type="checkbox" name="category-option" class="category-option">Indie
                            </label><br>

                            <label id=category-option>
                                <input type="checkbox" name="category-option" class="category-option">Aventura
                            </label><br>
                        </div>
                    </form>
            </section>
            <section class="product-list">
                <div class="best-seller">
                    <% products = products.filter((producto)=>{return producto.dificult=="Fácil"}) %> 
                    <% for (let index = 0; index < products.length; index++) { %>
                    <article class="game game1">
                        <div class="container-img">
                            <!-- <img class="imagen" src=  <%= "/images/productImages/"+products[index].image %>  alt="<%= "/images/productImages/"+products[index].image %>"> -->
                            <img class="imagen" src= "/images/cod.png"  alt=<%= "/images/productImages/"+products[index].image %>>
                        </div>

                        <div id= 'info' class="info">
                            <h3 class="name"><%= products[index].titulo %></h3>
                            <p class="category"><%= products[index].category %></p>
                            <div class="box-price">
                                <p class="price">$<%= products[index].price %></p>
                                <p class="discount"><%= products[index].discount %></p>
                            </div>
                            <a href="#">
                                <button class="button">Agregar al carrito  <i class="fas fa-shopping-cart"></i></button>
                            </a>
                        </div>
                    </article>
               <% } %>
            </section>
        </div>
        </main>
        <%- include('./partials/footer') %> 
        <a href="/shopping-cart"><button id="cart"><i class="fas fa-shopping-cart"></i></button></a>
    </body>
    </html>