<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>

<body class="body-fianriel">
    <main  class="main-fianriel">
        <button id="cart"><i class="fas fa-shopping-cart"></i></button>
        <form action="/user/sign-up" method="POST" class="registro-box-fianriel" enctype="multipart/form-data" id="form">
            <h1 class="h1-fianriel">
                Formulario de Registro <i class="fas fa-gamepad"></i>
            </h1>
            <br>
            <section class="section-fianriel">
                <article class="article-fianriel"> 
                    <div>
                        <label for="name">Nombre</label> <br>
                        <input placeholder= 'Nombre' name="nombre" type="text" placholder="Tu Nombre" class="input-fianriel" id="name" value="<%= locals.oldData ? oldData.nombre : null  %>"> 
                        <br>                           
                            <small class="text-danger" id="text-danger-name">
                            </small>  
                    </div>
                    <div>
                        <label for="apellido">Apellido</label><br>
                        <input placeholder= 'Apellido' name="apellido" type="text" placholder="Tu Apellido" class="input-fianriel" id="apellido" value="<%= locals.oldData ? oldData.apellido : null  %>">
                        <br>
                            <div class="text-danger" id="text-danger-last-name">
                            </div>  
                    </div>
                    <div>
                        <label for="dni">DNI</label><br>
                        <input placeholder= 'DNI' name="dni" type="number" class="input-fianriel" id="dni" value="<%= locals.oldData ? oldData.dni : null  %>">
                        <br>
                            <small class="text-danger" id="text-danger-dni">
                            </small>  
                    </div>
                    
                </article>
                <div class="avatar">
                    <label class="fotoAvatar">Avatar</label><br>
                    <input type="file" name="avatar" id="avatar">
                    <br>
                    <div class="text-danger" id="text-danger-avatar">
                    </div>  
                </div>
                <!-- <br> -->

                <article class="article-fianriel">
                    <div>
                        <label for="user">Nombre de Usuario</label><br>
                        <input placeholder="Usuario" type="text" name="usuario" class="input-fianriel" id="user" value="<%= locals.oldData ? oldData.usuario : null  %>">
                        <br>
                            <div class="text-danger" id="text-danger-user">
                            </div>  
                    </div>

                    <div>
                        <label for="email">Correo Electrónico</label><br>
                        <input placeholder="Mail" type="email" name="email" class="input-fianriel" id="email" value="<%= locals.oldData ? oldData.email : null  %>">
                        <br>
                            <div class="text-danger" id="text-danger-mail">
                            </div>  
                    </div>
                </article>
                <br>
                <article class="article-fianriel">

                    <div>
                        <label for="password">Password</label><br>
                        <input placeholder="Password" type="password" class="input-fianriel" name="clave" id="password">
                        <br>
                            <div class="text-danger" id="text-danger-password">
                            </div>  
                    </div>
                    <div>
                        <label for="repassword">Repetir Password</label><br>
                        <input placeholder="Password" type="password" name="clave2" class="input-fianriel" id="repassword" >
                        <br>
                            <div class="text-danger" id="text-danger-password">
                            </div>  
                    </div>
                </article>

                <br>

                <article class="article-fianriel">
                    <div>
                        <label>País</label><br>
                        <select name="pais" class="input-fianriel">
                            <option value="">Elegí un país</option>
                            <% let countries = data %>
                            <% for (const oneCountry of countries) { %>  
                            <option value="<%= oneCountry.alpha3Code %>" <%= locals.oldData && (oneCountry.numericCode === oldData.pais) ? 'selected' : null %>><%= oneCountry.name %></option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.pais) { %>
                            
                            <div class="text-danger">
                                <%= errors.pais.msg %> 
                            </div>  
                            <% } %>
                    </div>
                    

                </article>


                <br>

                <article class="article-fianriel">
                    <div>
                        <label for="direccion">Dirección</label><br>
                        <input placeholder= 'Dirección' type="text" name="direccion" class="input-fianriel" id="direccion" value="<%= locals.oldData ? oldData.direccion : null  %>">
                        <br>
                            <div class="text-danger" id="text-danger-adress">
                            </div>  
                    </div>
                    <div>
                        <label for="numero">Número</label><br>
                        <input placeholder= 'Número' type="number" name="numero" class="input-fianriel" id="numero" value="<%= locals.oldData ? oldData.numero : null  %>">
                        <br>
                            <div class="text-danger" id="text-danger-number">
                            </div>  
                    </div>
                    <div>
                        <label for="cp">Código Postal</label><br>
                        <input placeholder= 'C.P.' type="number" name="cp" class="input-fianriel" id="cp" value="<%= locals.oldData ? oldData.cp : null  %>">
                        <br>
                            <div class="text-danger" id="text-danger-cp">
                            </div>  
                    </div>
                </article>

                <br>

                <article class="article-fianriel">
                    <div>
                        <input type="checkbox" name="tcno" value="tyc" class="checks-fianriel"></input>
                        <label class="legales-fianriel">Acepto Términos y Condiciones</label>
                        <% if (locals.errors && errors.tcno) { %>
                            
                            <div class="text-danger">
                                <%= errors.tcno.msg %> 
                            </div>  
                            <% } %>

                        <br>

                        
                        <input type="checkbox" name="tyno" value="nyo" class="checks-fianriel"></button>
                        <label class="legales-fianriel">Me gustaría recibir noticias y ofertas especiales de GameStore</label>
                        
                    </div>
                </article>

                <ul id="errorList">


                </ul>

                <br>



                <button type="submit" class="send-buttom" id="button">Confirmar Registro</button>



            </section>


        </form>
        <a href="/shopping-cart"><button id="cart"><i class="fas fa-shopping-cart"></i></button></a>
    </main>
    <script src="/js/validationSignUp.js"></script>
    <%- include('./partials/footer') %> 
</body>

</html>